.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: "row";
    justify-content: center;
    gap: 1.5rem;
    flex:1;
}

.container>* {
    /* border-right: 1px #f0f4f5 solid; */
    padding-top: .2rem;
}

/* 26 */
.leftMain {
    /* flex: .77; */
    /* width: 26rem; */
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2 ;
}

/* 34 */
.center {
    width: 37rem;
    z-index: 1;
}

.centerMessageScreen{
    width: 62rem;
    max-width: 90%;
}

/* 40 */
.rightMain {
    /* flex: 1; */
    width: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}



/* @media only screen and (max-width: 1280px) {
    .rightMain {
        flex: 2
    }
} */

@media only screen and (max-width: 940px) {
    .rightMain {
        display: none;
        width: auto;
    }

    .center{
        width: auto;
    }

    .leftMain {
        width: auto;
    }

    .container {
        justify-content: center;
        gap: 0;
    }
}

@media only screen and (max-width: 500px) {
    .container{
        flex-direction: column-reverse;
    }

    .center{
        width: 100%;
        flex:unset
    }

    .leftMain{
        position: sticky;
        bottom: 0;
        flex-direction: row;
        width: 100%;
        flex: unset;
        height: 10%;
        background-color: white;
        justify-content: space-around;
        align-items: center;
    }
}