.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main > *{
    margin-bottom: 1rem;
    width: 90%;
}

.searchBarContainer{
    background-color: white;
    width: 90%;
    height: 3.1rem;
    position: sticky;
    top: 0;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.trendsStyle{
    border-radius: 1rem;
    background-color: #f7f9f9;;
}