.main {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    z-index: 20;
    position: sticky;
    top: 0;
    height: 3.1rem;
    padding: 0 .7rem;
    background-color: rgba(255, 255, 255, .9);
    backdrop-filter: blur(8px)
}

.main>div {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* EXPLORE */

.explore_searchBar {
    width: 90%;
    height: 90%;
}

/* NOTIFICATIONS */

.notificationsPageBar {
    z-index: 20;
    position: sticky;
    top: 0;
    height: 6.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(255, 255, 255, .9);
    backdrop-filter: blur(8px)
}

.notificationsPageBar>div {
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* onhover: #E7E7E8 */
.notificationsPageBar>*:nth-child(2)>* {
    width: 50%;
    height: 100%;
    cursor: pointer;
    font-weight: 500;
    color: #697783;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 150ms;
}

.notificationsPageBar>*:nth-child(2)>*:hover {
    background-color: #E7E7E8;
}

/* SEARCH */

.searchPageBar{
    z-index: 20;
    position: sticky;
    top: 0;
    height: 6.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(255, 255, 255, .9);
    backdrop-filter: blur(8px);
    border-bottom: 1px #f0f4f5 solid;
}

.searchPageBar>div {
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.searchPageBar>*:nth-child(2)>* {
    width: 20%;
    height: 100%;
    cursor: pointer;
    font-weight: 500;
    color: #697783;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 150ms;
}

.searchPageBar>*:nth-child(2)>*:hover {
    background-color: #E7E7E8;
}

.iconContainer{
    /* display: flex; */
    align-self: center;
    height:2rem !important;
    width: 2rem;
    /* align-items: center;
    justify-content: center;
    text-align: center; */
    border-radius: 1rem;
    cursor: pointer;
    margin-right: .3rem;
}

.iconContainer > i{
    text-align: center;
    width: 100%;
}

.iconContainer:hover{
    background-color: #E7E7E8;
}


/* PROFILE */

.profileBar{
    display: flex;
    flex-direction: row;
    border-bottom: 1px #f0f4f5 solid;
}

.profileBar > *:nth-child(2){
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileBar > *:nth-child(2) > span{
    font-size: small;
    color: gray;
}

/* TWEET */

.tweetBar{
    display: flex;
    flex-direction: row;
    border-bottom: 1px #f0f4f5 solid;
}

