.main {
    position: relative;
    border: 1px solid black;
}

.input {
    all: unset;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* border: 2px solid #313437; */
    border-radius: 0.4rem;
    box-sizing: border-box;
    padding: .5rem;
}

.span {
    /* color: #313437; */
    position: absolute;
    /* background-color: black; */
    padding-left: 1px;
    padding-right: 1px;
    left: 0;
    top: .5rem;
    transition: 200ms ease;
    margin-left: .5rem;
    user-select: none;
    cursor: text;
}

.input:focus~.span, .input:valid ~.span{
    transform: translateY(-100%) scale(.8);
}

