.main{
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    padding-top: .5rem;
    padding-bottom: .5rem;

}
.main > h2{
    font-size: x-large;
    margin:.9rem;
    margin-top: unset;
}
.eachTrend{
    display: flex;
    flex-direction: column;
    padding: .8rem;
    padding-left: 1rem;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}
.eachTrend:hover{
    background-color: #eff1f1;
}
.eachTrend > *:not(:nth-child(2)){
    font-size: small;
    color:#9ba5ac
}
.eachTrend > *:nth-child(2){
    font-weight: bold;
}