.container-enter {
    transition: 400ms;
    width: 100%;
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.container-enter-active{
    opacity:1;
    transition: opacity 500ms ease-in;
}

.container-leave-active{
    opacity:1;
    transition: opacity 500ms ease-in;
}

.container-leave{
    opacity: 0;
    transition: opacity 500ms ease-in;
}


.retweeted_by {
    color: #798690;
    font-size: small;
    font-weight: bold;
    margin-left: 2rem;
    cursor: pointer;
}

.main {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    justify-content: space-around;
}

@media only screen and (max-width: 500px) {
    .main {
        justify-content: space-between;
    }
}

.main:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.profilePicture {
    position: relative;
    width: 3rem;
    height: 3rem;
}

.profilePicture>* {
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    object-fit: contain;
}

.content {
    display: flex;
    flex-direction: column;
    width: 84%;
    overflow-wrap: break-word;
    gap: .2rem;

}

.content>*:first-child>*:first-child {
    /* NAME */
    font-weight: 500;
}

.content>*:first-child>*:nth-child(2) {
    /* USERNAME AND TIMESTAMP */
    color: hsl(208, 6%, 42%);
    font-weight: 300;
}

.content>*:nth-child(2) {
    font-weight: 400;
    font-size: .9rem;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .7rem;
}

.buttons>* {
    /* .iconNumberContainerS */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons>*>*:first-child {
    /* .iconContainer */
    display: flex;
    height: 2rem;
    width: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

/*
comment bg: #E1EEF6
comment text:#7FC4F3

retweet bg: #DEF1EB
retweet text: #54CFA6

like bg: #F7E0EB
like text: #F91880
*/

.buttons>* {
    transition: 200ms;
}

.buttons>*:first-child:hover .iconContainer {
    background-color: #E1EEF6;
}

.buttons>*:first-child:hover {
    color: #7FC4F3
}

.buttons>*:nth-child(2):hover .iconContainer {
    background-color: #DEF1EB;
}

.buttons>*:nth-child(2):hover {
    color: #54CFA6
}

.buttons>*:nth-child(3):hover .iconContainer {
    background-color: #F7E0EB;
}

.buttons>*:nth-child(3):hover {
    color: #F91880
}

/* .iconNumberContainer:hover .iconContainer{
    background-color: #E1EEF6;
} */

/* .iconNumberContainer:hover{
    color: #7FC4F3;
} */

.number {
    font-size: small;
}