html{
  height: 100%;
}

body{
  height:100%;
}

* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

[contenteditable] {
  outline: 0px solid transparent;
}

[contenteditable=true]:empty:not(:focus):before{
  content:attr(placeholder);
  color:#5e6970;
  font-size: larger;
}

.tweetAnimation-enter{
  opacity: 0;
}

.tweetAnimation-enter-active{
  opacity: 1;
  transition: 300ms ease-in;
}

.tweetAnimation-exit{
  opacity: 1;
}

.tweetAnimation-exit-active{
  opacity: 0;
  transition: 300ms ease-in;
}


